


.title{
    text-align: center;
    
	font-weight: 100;
	font-size: 5vw;
	font-variation-settings: 'wght' 100, 'wdth' 85;
	animation: breathe 4000ms infinite forwards;
}

@keyframes breathe {
	60% {
		font-variation-settings: 'wght' 700, 'wdth' 100;
	}
	
	100% {
		font-variation-settings: 'wght' 100, 'wdth' 85;
	}
}
